@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
body{
    display: flex;
    height: auto;
    background-color: #282935;
    padding: 50px;
    justify-content: center;
}

.date-input {
    padding: 10px;
    border-radius: 7px;
    border: solid 1px;
    font-size: 1rem;

}

.datepicker-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.datepicker {
    position: absolute;
    top: 100%;
    z-index: 100;
    margin-top: 2px;
    background-color: white;
    padding: 10px;
}

.datepicker button{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    transition: 0.2s;
}

.datepicker-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.datepicker-header select,
.datepicker-header input {
    font-size: 14px;
    border: solid 1px #eee;
}

.datepicker-header input {
    max-width: 60px;
}

.datepicker-header button {
    color: slategray;
}

.datepicker-header button:hover {
    color: #282935;
}

.datepicker-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.datepicker-footer button {
    background-color: #dbdbdb;
    padding: 5px;
}
.datepicker-footer button.datepicker-save {
    background-color: #4c4e66;
    color: #fff;
}
.datepicker-footer button:hover {
    color: #898db8;
}

.calendar-weekdays,
.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7,32px);
    gap: 10px;
    margin-block: 10px;
}

.calendar-weekdays span{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}


.calendar-dates button {
    color: slategray;
    aspect-ratio: 1;
}

.calendar-dates button:hover {
    background: rgba(119, 136, 153,0.1);
}

.calendar-dates button.calendar-today {
    color: #282935;
    background-color: #c3c2df;
}

.calendar-dates button.calendar-selected {
    color: #ffffff;
    background-color: #4c4e66;
}