{% extends "base.html" %}
{% load static %}
{% block content %}
        <main>
            <aside class="menu box">
                <a class="user" href="{% url "user" %}">
                    <img src="{% static 'assets/icons/user.png' %}">
                    <h5>USERNAME</h5>
                </a>
                <nav id="navegation">
                    <a href="{% url "index" %}"><img src="{% static 'assets/icons/dashboard.png' %}"><span>Dashboard</span></a>
                    <a href="{% url "finance" %}"><img src="{% static 'assets/icons/money.png' %}"><span>Finance</span></a>
                    <a class="active"><img src="{% static 'assets/icons/gym.png' %}"><span>Gym</span></a>
                    <a href="{% url "tasks" %}"><img src="{% static 'assets/icons/checklist.png' %}"><span>Tasks</span></a>
                </nav>
            </aside>
            <button onclick="openNav()" id="openNavegation">
                <img src="{% static 'assets/icons/down arrow.png' %}" alt="down arrow">
            </button>

            <section class="content-box">
                <div class="content-title">
                    <img src="{% static 'assets/icons/heart.png' %}">
                    <h3>Gym</h3>
                </div>
                <div class="specific-content">
                    <div class="specific-gym">
                        {% for day in days %}
                            <div class="specific-gym-days">
                                <div class="specific-gym-days-title">
                                    {{ day.name }}
                                    <button onclick="openOverlay('edit-workout-{{ day.name|lower }}')" class="btn-save">
                                        Edit
                                    </button>
                                </div>
                                <div class="specific-gym-exercises">
                                    {% if day.workout.muscle_groups.count >= 1 %}
                                        {% for group in day.workout.muscle_groups.all %}
                                            <h4 class="specific-gym-exercises-title">{{ group.name }}</h4>
                                            <div class="specific-gym-exercises-division">
                                                {% for exercise in group.exercises.all %}
                                                <p>{{exercise.sets}} x {{exercise.reps}} - {{exercise.name}}</p>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}

                                        {% else %}
                                            <div class="rest-day">
                                                REST DAY
                                            </div>
                                    {% endif %}
                                </div>
                                <div class="overlay" id='edit-workout-{{ day.name|lower }}'>
                                    <div class="overlay-container" id="workoutForm-{{ day.name|lower }}">

                                        <div class="close-overlay">
                                            <div></div>
                                            <button type="button" onclick="closeOverlay('edit-workout-{{ day.name|lower }}')" class="close-overlay-btn">
                                                x
                                            </button>
                                        </div>

                                        <div class="overlay-container-content">
                                            {% if day.workout.muscle_groups.all|length < 1 %}
                                                <div class="overlay-gym-general-forms">
                                                    <form method="POST" class="overlay-container-content-gym-form">
                                                        {% csrf_token %}
                                                        <div class="close-overlay">
                                                            <div></div>
                                                            <button onclick="removeForm(this)" type="submit" name="action" value="delete" class="btn-remove delete-gym-form">
                                                                Delete
                                                            </button>
                                                        </div>
                                                        <select name="muscle_group" class="overlay-container-content-gym-form-title" required>
                                                            <option value=""></option>
                                                            <option value="CHEST">Chest</option>
                                                            <option value="BACK">Back</option>
                                                            <option value="TRICEPS">Triceps</option>
                                                            <option value="BICEPS">Biceps</option>
                                                            <option value="SHOULDERS">Shoulders</option>
                                                            <option value="FOREARM">Forearm</option>
                                                            <option value="TRAPS">Traps</option>
                                                            <option value="QUADS">Quads</option>
                                                            <option value="HAMSTRINGS">Hamstrings</option>
                                                            <option value="GLUTES">Glutes</option>
                                                            <option value="CALVES">Calves</option>
                                                            <option value="ADDUCTORS">Adductors</option>
                                                            <option value="ABDUCTORS">Abductors</option>
                                                            <option value="ABS">Abs</option>
                                                        </select>

                                                        <div class="gymExercisesContainer">
                                                            <div class="overlay-container-content-gym-exercises gym-row">
                                                                <input name="sets[]" class="gym-sets" type="number" placeholder="Set" required min="1">
                                                                <span>x</span>
                                                                <input name="reps[]" class="gym-reps" type="number" placeholder="Rep" required min="1">
                                                                <input name="exercise[]" class="gym-exercise" type="text" placeholder="Exercise" required>

                                                                <button type="button" class="btn-less-plus" onclick="removeGymRowByButton(this)">-</button>
                                                                <button type="button" class="btn-less-plus" onclick="addGymRowByButton(this)">+</button>
                                                            </div>
                                                        </div>
                                                        <input value='{{ day.name }}' name="workout_day" type="hidden">
                                                        <div class="overlay-container-content-save save-gym-group hidden">
                                                            <button type="submit" name="action" value="save" class="btn-save">
                                                                Save
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                {% else %}
                                                    <div class="overlay-gym-general-forms">
                                                        {% for group in day.workout.muscle_groups.all %}
                                                            <form method='POST' class="overlay-container-content-gym-form">
                                                                {% csrf_token %}
                                                                <div class="close-overlay">
                                                                    <div></div>
                                                                    <button onclick="removeForm(this)" type="submit" name="action" value="delete" class="btn-remove delete-gym-form">
                                                                        Delete
                                                                    </button>
                                                                </div>
                                                                <select name="muscle_group" class="overlay-container-content-gym-form-title" required>
                                                                    <option value="CHEST" {% if group.name == "CHEST" %}selected{% endif %}>Chest</option>
                                                                    <option value="BACK" {% if group.name == "BACK" %}selected{% endif %}>Back</option>
                                                                    <option value="TRICEPS" {% if group.name == "TRICEPS" %}selected{% endif %}>Triceps</option>
                                                                    <option value="BICEPS" {% if group.name == "BICEPS" %}selected{% endif %}>Biceps</option>
                                                                    <option value="SHOULDERS" {% if group.name == "SHOULDERS" %}selected{% endif %}>Shoulders</option>
                                                                    <option value="FOREARM" {% if group.name == "FOREARM" %}selected{% endif %}>Forearm</option>
                                                                    <option value="TRAPS" {% if group.name == "TRAPS" %}selected{% endif %}>Traps</option>
                                                                    <option value="QUADS" {% if group.name == "QUADS" %}selected{% endif %}>Quads</option>
                                                                    <option value="HAMSTRINGS" {% if group.name == "HAMSTRINGS" %}selected{% endif %}>Hamstrings</option>
                                                                    <option value="GLUTES" {% if group.name == "GLUTES" %}selected{% endif %}>Glutes</option>
                                                                    <option value="CALVES" {% if group.name == "CALVES" %}selected{% endif %}>Calves</option>
                                                                    <option value="ADDUCTORS" {% if group.name == "ADDUCTORS" %}selected{% endif %}>Adductors</option>
                                                                    <option value="ABDUCTORS" {% if group.name == "ABDUCTORS" %}selected{% endif %}>Abductors</option>
                                                                    <option value="ABS" {% if group.name == "ABS" %}selected{% endif %}>Abs</option>
                                                                </select>

                                                                <div class="gymExercisesContainer">
                                                                    {% for exercise in group.exercises.all %}
                                                                        <div class="overlay-container-content-gym-exercises gym-row">
                                                                            <input value='{{ exercise.sets }}' name="sets[]" class="gym-sets" type="number" placeholder="Set" required min="1">
                                                                            <span>x</span>
                                                                            <input value='{{ exercise.reps }}' name="reps[]" class="gym-reps" type="number" placeholder="Rep" required min="1">
                                                                            <input value='{{ exercise.name }}' name="exercise[]" class="gym-exercise" type="text" placeholder="Exercise" required>

                                                                            <button type="button" class="btn-less-plus" onclick="removeGymRowByButton(this)">-</button>
                                                                            <button type="button" class="btn-less-plus" onclick="addGymRowByButton(this)">+</button>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                                <input value='{{ day.name }}' name="workout_day" type="hidden">
                                                                <div class="overlay-container-content-save save-gym-group hidden">
                                                                    <button type="submit" name="action" value="save" class="btn-save">
                                                                        Save
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        {% endfor %}
                                                    </div>
                                            {% endif %}
                                            <button type="button" onclick="addNewForm(this)" class="btn-add">
                                                Add
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
        <script src="{% static 'assets/js/general.js' %}"></script>
        <script src="{% static 'assets/js/gym.js' %}"></script>
{% endblock content %}
