{% extends "base.html" %}
{% load static %}
{% block content %}
        <main>
            <aside class="menu box">
                <a class="user" href="{% url "user" %}">
                    <img src="{% static 'assets/icons/user.png' %}">
                    <h5>USERNAME</h5>
                </a>
                <nav id="navegation">
                    <a class="active"><img src="{% static 'assets/icons/dashboard.png' %}"><span>Dashboard</span></a>
                    <a href="{% url "finance" %}"><img src="{% static 'assets/icons/money.png' %}"><span>Finance</span></a>
                    <a href="{% url "gym" %}"><img src="{% static 'assets/icons/gym.png' %}"><span>Gym</span></a>
                    <a href="{% url "tasks" %}"><img src="{% static 'assets/icons/checklist.png' %}"><span>Tasks</span></a>
                </nav>
            </aside>
            <button onclick="openNav()" id="openNavegation">
                <img src="{% static 'assets/icons/down arrow.png' %}" alt="down arrow">
            </button>

            <section class="cards">
                <a href="{% url "finance" %}" class="card">
                    <header><h3>Finance</h3><img src="{% static 'assets/icons/lucro.png' %}"></header>
                    <p>LeftOver:</p>
                    <h2>$ 234.524,50</h2>
                    <h4>Month Economy<br>12%</h4>
                </a>

                <a href="{% url "gym" %}" class="card">
                    <header><h3>Gym</h3><img src="{% static 'assets/icons/heart.png' %}"></header>
                    <p>Workout per week: <strong>4/5</strong></p>
                    <img src="{% static 'assets/auxiliar/linha progresso.png' %}">
                    <small>Next: Chest, Triceps, Shoulders</small>
                </a>

                <a href="{% url "tasks" %}" class="card">
                    <header><h3>Tasks</h3><img src="{% static 'assets/icons/check.png' %}"></header>
                    <div class="scroll">
                        <p>- Task</p>
                        <p>- Task</p>
                        <p>- Task</p>
                        <p>- Task</p>
                        <p>- Task</p>
                        <p>- Task</p>
                        <p>- Task</p>
                        <p>- Task</p>
                        <p>- Task</p>
                        <p>- Task</p>
                    </div>
                </a>

                <a href="{% url "tasks" %}" class="card graph">
                    <header><h3>Goals progress</h3></header>
                    <img src="{% static 'assets/auxiliar/Grafico-de-Progresso-11.png' %}">
                </a>

                <a href="{% url "finance" %}" class="card graph">
                    <header><h3>Financial progress</h3></header>
                    <img src="{% static 'assets/auxiliar/grafico de linha.png' %}">
                </a>
            </section>
        </main>
        <script src="{% static 'assets/js/general.js' %}"></script>
{% endblock content %}

