{% extends "base.html" %}
{% load static %}
{% block content %}
        <main>
            
            <aside class="menu box">
                <a class="user" href="{% url "user" %}">
                    <img src="{% static 'assets/icons/user.png' %}">
                    <h5>USERNAME</h5>
                </a>
                <nav id="navegation">
                    <a href="{% url "index" %}"><img src="{% static 'assets/icons/dashboard.png' %}"><span>Dashboard</span></a>
                    <a href="{% url "finance" %}"><img src="{% static 'assets/icons/money.png' %}"><span>Finance</span></a>
                    <a href="{% url "gym" %}"><img src="{% static 'assets/icons/gym.png' %}"><span>Gym</span></a>
                    <a class="active"><img src="{% static 'assets/icons/checklist.png' %}"><span>tasks</span></a>
                </nav>
            </aside>
            <button onclick="openNav()" id="openNavegation">
                <img src="{% static 'assets/icons/down arrow.png' %}" alt="down arrow">
            </button>

            <section class="content-box">
                <div class="content-title-tasks">
                    <img src="{% static 'assets/icons/check.png' %}">
                    <h3>Events</h3>
                </div>
                <div class="specific-tasks">
                    <div class="specific-tasks-main">
                        <div class="specific-tasks-main-today">
                            <h3 class="specific-tasks-title">
                                Today
                            </h3>
                            <div class="specific-tasks-main-today-content">
                                <div class="specific-tasks-main-today-now">
                                    <h4 class="specific-tasks-main-today-now-title">
                                        Next task:
                                    </h4>
                                    <div onclick="openOverlay('pendent-task-overlay')" class="specific-tasks-main-today-now-pendent">
                                        PENDENT
                                        <p class="specific-tasks-main-today-now-pendent-description">pendent task description aodfkasdfapodkfapofodpodfopasdofasdofkaodfkapdafsdddddddddddddddddddddddddddddddddddddddddddddd</p>
                                        <p>10:00</p>
                                    </div>
                                    <button class="btn-save">
                                        Done
                                    </button>
                                </div>
                                <aside class="specific-tasks-main-today-next">
                                    <p>- task </p>
                                    <p>- task </p>
                                    <p>- task </p>
                                    <p>- task </p>
                                    <p>- task </p>
                                    <p>- task </p>
                                    <p>- task </p>
                                    <p>- task </p>
                                    <p>- task </p>
                                    <p>- task </p>
                                    <p>- task </p>
                                    <p>- task </p>
                                    
                                </aside>
                            </div>
                            
                        </div>
                        <div class="specific-tasks-main-btns">
                            <button onclick="openOverlay('add-task-btn')" class="btn-add">
                                Add event
                            </button>
                            <div id='add-task-btn' class="overlay">
                                <form class="overlay-container" method="POST">
                                    <div class="close-overlay">
                                        <div></div>
                                        <button type="button" onclick="closeOverlay('add-task-btn')" class="close-overlay-btn">
                                            X
                                        </button>
                                    </div>
                                    <div class="overlay-container-content">

                                        <div class="task-overlay-add-content">
                                            <h3>Add event</h3>

                                            <input
                                                type="text"
                                                name="title"
                                                placeholder="Title:"
                                                class="add-task-text-input"
                                                required
                                            >

                                            <textarea
                                                name="description"
                                                id="task-description"
                                                placeholder="Description:"
                                            ></textarea>

                                            <input
                                                class="current-date-input"
                                                type="date"
                                                name="task_date"
                                                required
                                            >

                                            <div class="box-confirmation">
                                                <input class="checkbox" type="checkbox" id="allow-time-checkbox">
                                                <p>Allow time set</p>
                                            </div>

                                            <div class="task-overlay-content-time">

                                                <div class="task-overlay-content-hour">
                                                    <label>Start</label>
                                                    <div id="task-overlay-content-hour-start">
                                                        <input type="number" name="start_hour" min="0" max="23">
                                                        <p>:</p>
                                                        <input type="number" name="start_minute" min="0" max="59">
                                                    </div>
                                                </div>

                                                <p>-</p>

                                                <div class="task-overlay-content-hour">
                                                    <label>End</label>
                                                    <div id="task-overlay-content-hour-end">
                                                        <input type="number" name="end_hour" min="0" max="23">
                                                        <p>:</p>
                                                        <input type="number" name="end_minute" min="0" max="59">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="box-confirmation">
                                                <input class="checkbox" type="checkbox" id="repeat-checkbox">
                                                <p>Repeat</p>
                                            </div>

                                            <div class="tasks-checkboxes-repeat">
                                                <div>
                                                    <p>Weekly</p>
                                                    <input class="checkbox" type="checkbox" id="weekly-checkbox">
                                                </div>
                                                <div>
                                                    <p>Monthly</p>
                                                    <input class="checkbox" type="checkbox" id="monthly-checkbox">
                                                </div>
                                                <div>
                                                    <p>Yearly</p>
                                                    <input class="checkbox" type="checkbox" id="yearly-checkbox">
                                                </div>
                                            </div>
                                            <div class="tasks-checkboxes-repeat-options">
                                                <label>
                                                    <input type="checkbox" name="days" value="monday">
                                                    Monday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="tuesday">
                                                    Tuesday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="wednesday">
                                                    Wednesday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="thursday">
                                                    Thursday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="friday">
                                                    Friday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="saturday">
                                                    Saturday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="sunday">
                                                    Sunday
                                                </label><br>

                                            </div>

                                            <select name="priority" required>
                                                <option value="" disabled selected hidden></option>
                                                <option value="light">Light importance 🟦</option>
                                                <option value="medium">Medium importance 🟨</option>
                                                <option value="high">Very important 🟥</option>
                                            </select>
                                        </div>

                                        <div class="overlay-container-content-save">
                                            <button type="submit" class="btn-save">
                                                Save
                                            </button>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="specific-tasks-future">
                        <div onclick="openOverlay('others-tasks-overlay')" id="others-tasks" class="specific-tasks-future-card" >
                            <h3 class="specific-tasks-title">
                                General tasks
                            </h3>
                            <div class="specific-tasks-future-card-content">
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                            </div>
                        </div>
                        <div id='others-tasks-overlay' class="overlay">
                            <div class="overlay-container">
                                <div class="close-overlay">
                                    <button onclick="closeOverlay('others-tasks-overlay')" class="close-overlay-btn">
                                        X
                                    </button>
                                </div>
                                <div class="overlay-container-content">
                                    <div class="overlay-tasks-general-content">
                                        <div class="general-tasks-overlay">
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overlay-container-content-save">
                                            <button type="submit" class="btn-save">
                                                Save
                                            </button>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div onclick="openOverlay('daily-tasks-overlay')" id="daily-tasks" class="specific-tasks-future-card">
                            <h3 class="specific-tasks-title">
                                Weekly tasks
                            </h3>
                            <div class="specific-tasks-future-card-content">
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                            </div>
                        </div>
                        <div id='daily-tasks-overlay' class="overlay">
                            <div class="overlay-container">
                                <div class="close-overlay">
                                    <button onclick="closeOverlay('daily-tasks-overlay')" class="close-overlay-btn">
                                        X
                                    </button>
                                </div>
                                <div class="overlay-container-content">
                                    <div class="overlay-tasks-general-content">
                                        <div class="general-tasks-overlay">
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overlay-container-content-save">
                                            <button type="submit" class="btn-save">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div onclick="openOverlay('daily-tasks-overlay')" id="daily-tasks" class="specific-tasks-future-card">
                            <h3 class="specific-tasks-title">
                                Monthly tasks
                            </h3>
                            <div class="specific-tasks-future-card-content">
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                            </div>
                        </div>
                        <div id='daily-tasks-overlay' class="overlay">
                            <div class="overlay-container">
                                <div class="close-overlay">
                                    <button onclick="closeOverlay('daily-tasks-overlay')" class="close-overlay-btn">
                                        X
                                    </button>
                                </div>
                                <div class="overlay-container-content">
                                    <div class="overlay-tasks-general-content">
                                        <div class="general-tasks-overlay">
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overlay-container-content-save">
                                            <button type="submit" class="btn-save">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div onclick="openOverlay('daily-tasks-overlay')" id="daily-tasks" class="specific-tasks-future-card">
                            <h3 class="specific-tasks-title">
                                Yearly tasks
                            </h3>
                            <div class="specific-tasks-future-card-content">
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                            </div>
                        </div>
                        <div id='daily-tasks-overlay' class="overlay">
                            <div class="overlay-container">
                                <div class="close-overlay">
                                    <button onclick="closeOverlay('daily-tasks-overlay')" class="close-overlay-btn">
                                        X
                                    </button>
                                </div>
                                <div class="overlay-container-content">
                                    <div class="overlay-tasks-general-content">
                                        <div class="general-tasks-overlay">
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overlay-container-content-save">
                                            <button type="submit" class="btn-save">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div onclick="openOverlay('others-tasks-overlay')" id="daily-tasks" class="specific-tasks-future-card">
                            <h3 class="specific-tasks-title">
                                Passed tasks
                            </h3>
                            <div class="specific-tasks-future-card-content">
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                                <p>- task </p>
                            </div>
                        </div>
                        <div id='others-tasks-overlay' class="overlay">
                            <div class="overlay-container">
                                <div class="close-overlay">
                                    <button onclick="closeOverlay('passed-tasks-overlay')" class="close-overlay-btn">
                                        X
                                    </button>
                                </div>
                                <div class="overlay-container-content">
                                    <div class="overlay-tasks-general-content">
                                        <div class="general-tasks-overlay">
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                            <div class="self-task-card-overlay">
                                                <div class="self-task-card-overlay-content">
                                                    <p class="self-task-card-overlay-title">Title</p>
                                                    <p>~ 10:00 AM ~</p>
                                                    <p class="self-task-card-overlay-description">description description description description description description description description</p>
                                                    <button class="btn-remove">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overlay-container-content-save">
                                            <button type="submit" class="btn-save">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
            </section>
        </main>
        <script src="{% static 'assets/js/general.js' %}"></script>
        <script src="{% static 'assets/js/tasks.js' %}"></script>
{% endblock content %}