{% extends "base.html" %}
{% load static %}
{% block content %}
        <main>
            
            <aside class="menu box">
                <a class="user" href="{% url "user" %}">
                    <img src="{% static 'assets/icons/user.png' %}">
                    <h5>USERNAME</h5>
                </a>
                <nav id="navegation">
                    <a href="{% url "index" %}"><img src="{% static 'assets/icons/dashboard.png' %}"><span>Dashboard</span></a>
                    <a href="{% url "finance" %}"><img src="{% static 'assets/icons/money.png' %}"><span>Finance</span></a>
                    <a href="{% url "gym" %}"><img src="{% static 'assets/icons/gym.png' %}"><span>Gym</span></a>
                    <a class="active"><img src="{% static 'assets/icons/checklist.png' %}"><span>Events</span></a>
                </nav>
            </aside>
            <button onclick="openNav()" id="openNavegation">
                <img src="{% static 'assets/icons/down arrow.png' %}" alt="down arrow">
            </button>

            <section class="content-box">
                <div class="content-title-tasks">
                    <img src="{% static 'assets/icons/check.png' %}">
                    <h3>Events</h3>
                </div>
                <div class="specific-tasks">
                    <div class="specific-tasks-main">
                        <div class="specific-tasks-main-btns">
                            <button onclick="openOverlay('add-task-btn')" class="btn-add">
                                Add event
                            </button>
                            <div id='add-task-btn' class="overlay">
                                <form class="overlay-container" method="POST">
                                    {% csrf_token %}
                                    <div class="close-overlay">
                                        <div></div>
                                        <button type="button" onclick="closeOverlay('add-task-btn')" class="close-overlay-btn">
                                            X
                                        </button>
                                    </div>
                                    <div class="overlay-container-content">

                                        <div class="task-overlay-add-content">
                                            <h3>Add event</h3>

                                            <input
                                                type="text"
                                                name="task_title"
                                                placeholder="Title:"
                                                class="add-task-text-input"
                                                required
                                            >

                                            <textarea
                                                name="task_description"
                                                id="task-description"
                                                placeholder="Description:"
                                            ></textarea>

                                            <input
                                                class="current-date-input"
                                                type="date"
                                                name="task_date"
                                                required
                                            >

                                            <div class="box-confirmation">
                                                <input class="checkbox" type="checkbox" id="allow-time-checkbox">
                                                <p>Allow time set</p>
                                            </div>

                                            <div class="task-overlay-content-time">
                                                <div class="task-overlay-content-hour">
                                                    <label>Starts at:</label>
                                                    <div id="task-overlay-content-hour-start">
                                                        <input type="number" name="start_hour" min="0" max="23">
                                                        <p>:</p>
                                                        <input type="number" name="start_minute" min="0" max="59">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="box-confirmation">
                                                <input name="task_repeat" class="checkbox" type="checkbox" id="repeat-checkbox">
                                                <p>Repeat</p>
                                            </div>

                                            <div class="tasks-checkboxes-repeat">
                                                <div>
                                                    <p>Weekly</p>
                                                    <input name="task_weekly" class="checkbox" type="checkbox" id="weekly-checkbox">
                                                </div>
                                                <div>
                                                    <p>Monthly</p>
                                                    <input name="task_monthly" class="checkbox" type="checkbox" id="monthly-checkbox">
                                                </div>
                                                <div>
                                                    <p>Yearly</p>
                                                    <input name="task_yearly" class="checkbox" type="checkbox" id="yearly-checkbox">
                                                </div>
                                            </div>
                                            <div class="tasks-checkboxes-repeat-options">
                                                <label>
                                                    <input type="checkbox" name="days" value="MONDAY">
                                                    Monday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="TUESDAY">
                                                    Tuesday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="WEDNESDAY">
                                                    Wednesday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="THURSDAY">
                                                    Thursday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="FRIDAY">
                                                    Friday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="SATURDAY">
                                                    Saturday
                                                </label><br>

                                                <label>
                                                    <input type="checkbox" name="days" value="SUNDAY">
                                                    Sunday
                                                </label><br>

                                            </div>

                                            <select name="task_priority" required>
                                                <option value="" disabled selected hidden></option>
                                                <option value="LIGHT IMPORTANCE">Low importance 🟦</option>
                                                <option value="MIDDLE IMPORTANCE">Medium importance 🟨</option>
                                                <option value="HIGH IMPORTANCE">Very important 🟥</option>
                                            </select>
                                        </div>

                                        <div class="overlay-container-content-save">
                                            <button name="action" type="submit" class="btn-save" value="save">
                                                Save
                                            </button>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="specific-tasks-main-today">
                            <h3 class="specific-tasks-title">
                                Today
                            </h3>
                            <div class="specific-tasks-main-today-content">
                                <form method="POST" class="specific-tasks-main-today-now">
                                    {% csrf_token %}
                                    <h4 class="specific-tasks-main-today-now-title">
                                        Next task:
                                    </h4>
                                    <div onclick="openOverlay('pendent-task-overlay')" class="specific-tasks-main-today-now-pendent">
                                        {% if pendent_task %}
                                            <h4>{{pendent_task.title}}</h4>
                                            <p class="specific-tasks-main-today-now-pendent-description">{{pendent_task.description}}</p>
                                            <p>- {{pendent_task.time}} -</p>
                                            <input name="current_task_title" type="hidden" value="{{ pendent_task.title }}">
                                            {% else %}
                                            EVENT NOT FOUND
                                        {% endif %}
                                    </div>
                                    <button name="action" type="submit" class="btn-save" value="done">
                                        Done
                                    </button>
                                </form>
                                <aside class="specific-tasks-main-today-next">
                                    {% if today_tasks %}
                                        {% for task in today_tasks %}
                                            <p>- {{task.title}} </p>
                                        {% endfor %} 
                                        {% else %}
                                            <div class="not-found">
                                                EVENTS NOT FOUND
                                            </div>
                                    {% endif %}
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="specific-tasks-future">
                        <div onclick="openOverlay('general-tasks-overlay')" id="general-tasks" class="specific-tasks-future-card" >
                            <h3 class="specific-tasks-title">
                                General tasks
                            </h3>
                            <div class="specific-tasks-future-card-content">
                                {% if general_tasks %}
                                    {% for task in general_tasks %}
                                        <p>- {{task.title}} </p>
                                    {% endfor %} 
                                    {% else %}
                                        <div class="not-found">
                                            EVENTS NOT FOUND
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                        <div id='general-tasks-overlay' class="overlay">
                            <div class="overlay-container">
                                <div class="close-overlay">
                                    <div></div>
                                    <button onclick="closeOverlay('general-tasks-overlay')" class="close-overlay-btn">
                                        X
                                    </button>
                                </div>
                                <div class="overlay-container-content">
                                    <div class="overlay-tasks-general-content">
                                        <div class="general-tasks-overlay">
                                            {% for task in general_tasks %}
                                                <div class="self-task-card-overlay">
                                                    <p class="
                                                        {% if task.importance == 'LOW IMPORTANCE'%}
                                                        self-task-card-overlay-importance-low
                                                        {% elif task.importance == 'MIDDLE IMPORTANCE' %}
                                                        self-task-card-overlay-importance-middle
                                                        {% else %}
                                                        self-task-card-overlay-importance-high
                                                        {% endif %}>
                                                    ">- {{ task.importance|title}} -</p>
                                                    <div class="
                                                        {% if task.importance == 'LOW IMPORTANCE'%}
                                                        self-task-card-overlay-content-low
                                                        {% elif task.importance == 'MIDDLE IMPORTANCE' %}
                                                        self-task-card-overlay-content-middle
                                                        {% else %}
                                                        self-task-card-overlay-content-high
                                                        {% endif %}">
                                                        <p class="self-task-card-overlay-title">
                                                            {{task.title}} <br>
                                                        </p>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Date:</p>
                                                            <p>{{task.date}}</p>
                                                            {% if task.time %}
                                                                <p>~ {{task.time}} ~</p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Description:</p>
                                                            <p>{{task.description}}</p>
                                                        </div>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Repeats:</p>
                                                            {% if task.weekly %}
                                                                {% for repeat in task.weekly_options %}
                                                                    <p>Every {{repeat|title}}</p>
                                                                {% endfor %}

                                                                {% elif task.monthly %}
                                                                    <p>Every {{task.date.day}}th</p>
                                                                
                                                                {% elif task.yearly %}
                                                                    <p>Every {{task.date.day}}/{{task.date.month}}</p>
                                                                {% else %}
                                                                    <p>No repeat</p>

                                                            {% endif %}
                                                        </div>
                                                        <button class="btn-remove">Remove</button>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div onclick="openOverlay('weekly-tasks-overlay')" id="daily-tasks" class="specific-tasks-future-card">
                            <h3 class="specific-tasks-title">
                                Weekly tasks
                            </h3>
                            <div class="specific-tasks-future-card-content">
                                {% if weekly_tasks %}
                                    {% for task in weekly_tasks %}
                                        <p>- {{task.title}} </p>
                                    {% endfor %} 
                                    {% else %}
                                        <div class="not-found">
                                            EVENTS NOT FOUND
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                        <div id='weekly-tasks-overlay' class="overlay">
                            <div class="overlay-container">
                                <div class="close-overlay">
                                    <div></div>
                                    <button onclick="closeOverlay('weekly-tasks-overlay')" class="close-overlay-btn">
                                        X
                                    </button>
                                </div>
                                <div class="overlay-container-content">
                                    <div class="overlay-tasks-general-content">
                                        <div class="general-tasks-overlay">
                                            {% for task in weekly_tasks %}
                                                <div class="self-task-card-overlay">
                                                    <p class="
                                                        {% if task.importance == 'LOW IMPORTANCE'%}
                                                        self-task-card-overlay-importance-low
                                                        {% elif task.importance == 'MIDDLE IMPORTANCE' %}
                                                        self-task-card-overlay-importance-middle
                                                        {% else %}
                                                        self-task-card-overlay-importance-high
                                                        {% endif %}>
                                                    ">- {{ task.importance|title}} -</p>
                                                    <div class="
                                                        {% if task.importance == 'LOW IMPORTANCE'%}
                                                        self-task-card-overlay-content-low
                                                        {% elif task.importance == 'MIDDLE IMPORTANCE' %}
                                                        self-task-card-overlay-content-middle
                                                        {% else %}
                                                        self-task-card-overlay-content-high
                                                        {% endif %}">
                                                        <p class="self-task-card-overlay-title">
                                                            {{task.title}} <br>
                                                        </p>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Date:</p>
                                                            <p>{{task.date}}</p>
                                                            {% if task.time %}
                                                                <p>~ {{task.time}} ~</p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Description:</p>
                                                            <p>{{task.description}}</p>
                                                        </div>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Repeats:</p>
                                                            {% if task.weekly %}
                                                                {% for repeat in task.weekly_options %}
                                                                    <p>Every {{repeat|title}}</p>
                                                                {% endfor %}

                                                                {% elif task.monthly %}
                                                                    <p>Every {{task.date.day}}th</p>
                                                                
                                                                {% elif task.yearly %}
                                                                    <p>Every {{task.date.day}}/{{task.date.month}}</p>
                                                                {% else %}
                                                                    <p>No repeat</p>

                                                            {% endif %}
                                                        </div>
                                                        <button class="btn-remove">Remove</button>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div onclick="openOverlay('monthly-tasks-overlay')" id="daily-tasks" class="specific-tasks-future-card">
                            <h3 class="specific-tasks-title">
                                Monthly tasks
                            </h3>
                            <div class="specific-tasks-future-card-content">
                                {% if monthly_tasks %}
                                    {% for task in monthly_tasks %}
                                        <p>- {{task.title}} </p>
                                    {% endfor %} 
                                    {% else %}
                                        <div class="not-found">
                                            EVENTS NOT FOUND
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                        <div id='monthly-tasks-overlay' class="overlay">
                            <div class="overlay-container">
                                <div class="close-overlay">
                                    <div></div>
                                    <button onclick="closeOverlay('monthly-tasks-overlay')" class="close-overlay-btn">
                                        X
                                    </button>
                                </div>
                                <div class="overlay-container-content">
                                    <div class="overlay-tasks-general-content">
                                        <div class="general-tasks-overlay">
                                            {% for task in monthly_tasks %}
                                                <div class="self-task-card-overlay">
                                                    <p class="
                                                        {% if task.importance == 'LOW IMPORTANCE'%}
                                                        self-task-card-overlay-importance-low
                                                        {% elif task.importance == 'MIDDLE IMPORTANCE' %}
                                                        self-task-card-overlay-importance-middle
                                                        {% else %}
                                                        self-task-card-overlay-importance-high
                                                        {% endif %}>
                                                    ">- {{ task.importance|title}} -</p>
                                                    <div class="
                                                        {% if task.importance == 'LOW IMPORTANCE'%}
                                                        self-task-card-overlay-content-low
                                                        {% elif task.importance == 'MIDDLE IMPORTANCE' %}
                                                        self-task-card-overlay-content-middle
                                                        {% else %}
                                                        self-task-card-overlay-content-high
                                                        {% endif %}">
                                                        <p class="self-task-card-overlay-title">
                                                            {{task.title}} <br>
                                                        </p>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Date:</p>
                                                            <p>{{task.date}}</p>
                                                            {% if task.time %}
                                                                <p>~ {{task.time}} ~</p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Description:</p>
                                                            <p>{{task.description}}</p>
                                                        </div>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Repeats:</p>
                                                            {% if task.weekly %}
                                                                {% for repeat in task.weekly_options %}
                                                                    <p>Every {{repeat|title}}</p>
                                                                {% endfor %}

                                                                {% elif task.monthly %}
                                                                    <p>Every {{task.date.day}}th</p>
                                                                
                                                                {% elif task.yearly %}
                                                                    <p>Every {{task.date.day}}/{{task.date.month}}</p>
                                                                {% else %}
                                                                    <p>No repeat</p>

                                                            {% endif %}
                                                        </div>
                                                        <button class="btn-remove">Remove</button>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div onclick="openOverlay('yearly-tasks-overlay')" id="daily-tasks" class="specific-tasks-future-card">
                            <h3 class="specific-tasks-title">
                                Yearly tasks
                            </h3>
                            <div class="specific-tasks-future-card-content">
                                {% if yearly_tasks %}
                                    {% for task in yearly_tasks %}
                                        <p>- {{task.title}} </p>
                                    {% endfor %} 
                                    {% else %}
                                        <div class="not-found">
                                            EVENTS NOT FOUND
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                        <div id='yearly-tasks-overlay' class="overlay">
                            <div class="overlay-container">
                                <div class="close-overlay">
                                    <div></div>
                                    <button onclick="closeOverlay('yearly-tasks-overlay')" class="close-overlay-btn">
                                        X
                                    </button>
                                </div>
                                <div class="overlay-container-content">
                                    <div class="overlay-tasks-general-content">
                                        <div class="general-tasks-overlay">
                                            {% for task in yearly_tasks %}
                                                <div class="self-task-card-overlay">
                                                    <p class="
                                                        {% if task.importance == 'LOW IMPORTANCE'%}
                                                        self-task-card-overlay-importance-low
                                                        {% elif task.importance == 'MIDDLE IMPORTANCE' %}
                                                        self-task-card-overlay-importance-middle
                                                        {% else %}
                                                        self-task-card-overlay-importance-high
                                                        {% endif %}>
                                                    ">- {{ task.importance|title}} -</p>
                                                    <div class="
                                                        {% if task.importance == 'LOW IMPORTANCE'%}
                                                        self-task-card-overlay-content-low
                                                        {% elif task.importance == 'MIDDLE IMPORTANCE' %}
                                                        self-task-card-overlay-content-middle
                                                        {% else %}
                                                        self-task-card-overlay-content-high
                                                        {% endif %}">
                                                        <p class="self-task-card-overlay-title">
                                                            {{task.title}} <br>
                                                        </p>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Date:</p>
                                                            <p>{{task.date}}</p>
                                                            {% if task.time %}
                                                                <p>~ {{task.time}} ~</p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Description:</p>
                                                            <p>{{task.description}}</p>
                                                        </div>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Repeats:</p>
                                                            {% if task.weekly %}
                                                                {% for repeat in task.weekly_options %}
                                                                    <p>Every {{repeat|title}}</p>
                                                                {% endfor %}

                                                                {% elif task.monthly %}
                                                                    <p>Every {{task.date.day}}th</p>
                                                                
                                                                {% elif task.yearly %}
                                                                    <p>Every {{task.date.day}}/{{task.date.month}}</p>
                                                                {% else %}
                                                                    <p>No repeat</p>

                                                            {% endif %}
                                                        </div>
                                                        <button class="btn-remove">Remove</button>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div onclick="openOverlay('passed-tasks-overlay')" id="daily-tasks" class="specific-tasks-future-card">
                            <h3 class="specific-tasks-title">
                                Passed tasks
                            </h3>
                            <div class="specific-tasks-future-card-content">
                                {% if passed_tasks %}
                                    {% for task in passed_tasks %}
                                        <p>- {{task.title}} </p>
                                    {% endfor %} 
                                    {% else %}
                                        <div class="not-found">
                                            EVENTS NOT FOUND
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                        <div id='passed-tasks-overlay' class="overlay">
                            <div class="overlay-container">
                                <div class="close-overlay">
                                    <div></div>
                                    <button onclick="closeOverlay('passed-tasks-overlay')" class="close-overlay-btn">
                                        X
                                    </button>
                                </div>
                                <div class="overlay-container-content">
                                    <div class="overlay-tasks-general-content">
                                        <div class="general-tasks-overlay">
                                            {% for task in passed_tasks %}
                                                <div class="self-task-card-overlay">
                                                    {% if task.done %}
                                                        <p class="self-task-card-overlay-importance-done">
                                                            - DONE -
                                                        </p>
                                                        {% else %}
                                                        <p class="self-task-card-overlay-importance-passed">
                                                            - PASSED -
                                                        </p>
                                                    {% endif %}
                                                    <div class="
                                                    {% if task.done %}
                                                        self-task-card-overlay-content-done
                                                        {% else %}
                                                        self-task-card-overlay-content-passed
                                                    {% endif %}
                                                    ">
                                                        <p class="self-task-card-overlay-title">
                                                            {{task.title}} <br>
                                                        </p>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Date:</p>
                                                            <p>{{task.date}}</p>
                                                            {% if task.time %}
                                                                <p>~ {{task.time}} ~</p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Description:</p>
                                                            <p>{{task.description}}</p>
                                                        </div>
                                                        <div class="self-task-card-overlay-information">
                                                            <p class="self-task-card-overlay-titles">Repeats:</p>
                                                            {% if task.weekly %}
                                                                {% for repeat in task.weekly_options %}
                                                                    <p>Every {{repeat|title}}</p>
                                                                {% endfor %}

                                                                {% elif task.monthly %}
                                                                    <p>Every {{task.date.day}}th</p>
                                                                
                                                                {% elif task.yearly %}
                                                                    <p>Every {{task.date.day}}/{{task.date.month}}</p>
                                                                {% else %}
                                                                    <p>No repeat</p>

                                                            {% endif %}
                                                        </div>
                                                        <button class="btn-remove">Remove</button>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
            </section>
        </main>
        <script src="{% static 'assets/js/general.js' %}"></script>
        <script src="{% static 'assets/js/tasks.js' %}"></script>
{% endblock content %}