@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,600;1,600&display=swap');
:root{
    --bg:#fff9ed;
    --dark:#282935;
    --light:#ffffff;
    --text:#151515;
    --accent:#6b6a88;
    --shadow:0 6px 16px rgba(0,0,0,.25);
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* RESET */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

img{
    max-width:100%;
    height:auto;
    display:block;
}

/* BODY */
body{
    font-family:Montserrat, sans-serif;
    background:var(--bg);
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* HEADER */
header{
    width:90%;
    margin:1rem;
    padding:1rem;
    background:var(--dark);
    border-radius:15px;
    box-shadow:var(--shadow);
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:.5rem;
    color:var(--light);
    text-decoration:none;
}

.logo img{
    height:40px;
    width:auto;
    filter:brightness(0) invert(1);
}

.icons{
    display:flex;
    gap:1rem;
}

.icons img{
    height:22px;
    min-width:22px;
    filter:brightness(0) invert(1);
}

/* MAIN */
main{
    width:90%;
    display:flex;
    flex: 1;
    
    margin-bottom: 3vh;
}

/* MENU */
.menu{
    min-width:250px;
    padding:1rem;
    background:var(--dark);
    border-radius:15px;
    box-shadow:var(--shadow);
    color:var(--light);
    height: auto;
}

.user{
    display:flex;
    align-items:center;
    gap:.5rem;
    background:#1d1e25;
    padding:.6rem;
    border-radius:10px;
    margin-bottom:1rem;
    text-decoration:none;
    color:var(--accent);
}

.user img{
    height:32px;
    width:32px;
    border-radius: 50px;
}

nav{
    display:flex;
    flex-direction:column;
    gap:.5rem;
}

nav a{
    display:flex;
    align-items:center;
    gap:.5rem;
    padding:.5rem;
    color:var(--light);
    text-decoration:none;
    border-radius:10px;
    transition:.2s;
}

nav img{
    height:20px;
    width:auto;
    filter:brightness(0) invert(1);
}

nav a:hover,
nav a.active{
    border:1px solid var(--accent);
}
#openNavegation {
    display: none;
}
/* CARDS */
.cards{
    flex:1;
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    justify-content:center;
    margin-bottom: 3vh;
    margin-top: 20px;
}

.card{
    width:360px;
    height:300px;
    color: #151515;
    background:#ffffff;
    border-radius:20px;
    padding:2rem;
    box-shadow:var(--shadow);
    text-decoration:none;
    display:flex;
    flex-direction:column;
    gap:.6rem;
    align-items: start;
}
.card small{
    margin-top: 2rem;
}
.card header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:var(--light);
}

.card header img{
    height:28px;
    width:auto;
}

.card h4{
    color:#8DD3BE;
}

.scroll{
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    overflow-x: hidden;
    max-height:140px;
    width: 100%;
    background-color:#f6f6f6 ;
    height: 200px;
    width: 100%;
    border: solid 1px #cacaca;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
}

/* IMAGENS DENTRO DOS CARDS */
.card img{
    max-width:100%;
    max-height:160px;
    object-fit:contain;
}

/* LINHA DE PROGRESSO */
.card img{
    height:18px;
    width:auto;
}

/* GRÁFICOS */
.graph img{
    height:180px;
    width:100%;
    object-fit:contain;
}

/* FOOTER */
footer{
    width:100%;
    background:var(--dark);
    display:flex;
    justify-content:flex-end;
    padding:1rem;
    gap:.8rem;
}

footer img{
    height:26px;
    width:auto;
    filter:brightness(0) invert(1);
}


/************** SPECIFIC *****************/
.content-box{
    flex:1;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.content-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 95%;
    height: 70px;
}

.specific-content {
    width:95%; 
    height: auto;
    min-height:750px;
    background:#ffffff;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    padding:2rem;
    box-shadow:var(--shadow);
    gap: 2%;
}
.specific-content-finance {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2%;
}
.content-title img{
    height:28px;
    width: 28px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    height: 60px;
    border-radius: 15px;
    font-family: var(--font) bold;
    font-size: 15px;
    width: 80%;
    gap:10px;
}

.btn img{
    height: 20px;
}

.btn:hover {
    background-color: var(--text);
}

.not-found, .rest-day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Archivo Black", sans-serif;
    font-weight: 800px;
    color: #a9a9a9;
    font-size: xx-large;
}

/************** FINANCE *****************/

.specific-finance-top {
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.specific-finance-top section{
    display: flex;
    flex-direction: column;
    border: solid 1px #cacaca;
    padding: 5px;
    height: 70px;
    width: 30%;
    justify-content: start;
    align-items: center;
    border-radius:5px ;
}
.specific-finance-top-title{
    display: flex;
    gap: 10px;
}
.specific-finance-top-title img{
    height: 15px;
}

.specific-finance-top-leftover:hover{
    box-shadow: 0px 0px 16px  #79afff;
}

.specific-finance-top-income:hover{
    box-shadow: 0px 0px 16px #79ff79;
}

.specific-finance-top-expenses:hover{
    box-shadow: 0px 0px 16px #ffa9a9;
}

.specific-finance-top-values{
    margin-top: 10px;
    font-family: Impact, Haettenschweiler,;
}

.specific-finance-main {
    height: 90%;
    width: 100%;
    display: flex;
    gap: 5%;
}

.specific-finance-main-left {
    display: flex;
    overflow-y:auto;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    border: solid 1px #cacaca; 
    width: 80%;
    height: 700px;
    padding: 1%;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.specific-finance-main-right {
    display: flex;
    flex-direction: column; 
    width: 30%;
    height: 100%;
    gap: 50px;
    padding-top: 70px;
}
.specific-finance-main-left-history{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.specific-finance-main-left-history-self{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.specific-finance-main-left-history-value{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px #cacaca;
    padding: 20px;
    text-shadow: var(--shadow);
}
.specific-finance-main-left-graph{
    display: flex;
    justify-content: center;
    width: 50%;
}

.finance-tabs {
    display: flex;
    border: var();
    background-color: #ffffff;
    width: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.specific-finance {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 100%;
    height: 100%;
}
.finance-tab {
    background-color: transparent;
    border: solid #cacaca 1px;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--font) bold;
}
.finance-tab:hover , .finance-tab.active{
    background-color: var(--dark);
    color: #fff;
}
.finance-page {
    display: none;
    width: 100%;
}
.finance-page.active {
    display: block;
    height: 100%;
}
#finance-credit {
    height: 90%;
    width: 100%;
}
.finance-credit-content {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: flex-start; 
    align-items: stretch;        
}
.credit-cards { 
    border:solid #cacaca 1px;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px; 
    flex-shrink: 0;
}
.credit-cards-accounts.active {
    display: block;
    height: 100%;
    width: 100%;
}

.credit-cards-accounts {
    display: none;
    width: 100%;
    height: 100%;
}
.credit-cards-main-content {
    display: flex;
    flex: 1;
    border:solid #cacaca 1px;
    border-left: 0px;
    width: 70%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}
.credit-cards-all-accounts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.self-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid #cacaca 1px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}
.self-card:hover, .self-card.active{
    color: white;
    background-color: var(--dark);
}
.credit-cards-accounts-graph {
    width: 90%;
}
.credit-cards-accounts-self {
    height: auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 1px #cacaca solid;
    margin: 10px;
    padding-bottom: 10px;

}
.credit-cards-accounts-self h3{
    background-color: var(--dark);
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    font-family: var(--font);
    font-weight: 400;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.credit-cards-accounts-self h2 {
    font-family: var(--font);
    font-weight: 500;
    padding-top: 10px;

}
.credit-cards-btns {
    display: flex;
    gap: 3px;
}
/************** TASKS *****************/
.specific-tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.specific-tasks-main {
    width: 90%;
    display: flex;
    gap:40px;
    justify-content: center;
}
.specific-tasks-title {
    text-decoration: none;
    color: #151515;
}
.specific-tasks-main-today {
    width:50%;
    height:400px;
    background:#ffffff;
    border-radius:20px;
    padding:2rem;
    box-shadow:var(--shadow);
    text-decoration:none;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.specific-tasks-main-today-content {
    display: flex;
    width: 100%;
    height: 100%;
}
.specific-tasks-main-today-next {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 300px;
    border: solid 1px #cacaca;
    border-radius: 15px;
    overflow-y:auto;
    background-color: #f6f6f6;
    gap: 20px;
    padding: 20px;
    overflow-x: hidden;
}
.specific-tasks-main-today-now {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 300px;
}
.specific-tasks-main-today-now p{
    text-decoration:underline;
    font-size: larger;
    text-shadow: var(--shadow);
}
.specific-tasks-main-today-now-title {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 15%;
}

.specific-tasks-future {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.specific-tasks-future-card {
    width: 400px;
    height: 250px;
    background: #fff;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.specific-tasks-future-card-content{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 20px;
    background-color:#f6f6f6 ;
    height: 200px;
    width: 100%;
    border: solid 1px #cacaca;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
    color: black;
    overflow-x: hidden;
    
}

.content-title-tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: #ffffff;
    border-radius: 15px;
    width: 95%;
    height: 80px;
    margin-bottom: 20px;
}
.content-title-tasks img{
    height:28px;
    width: 28px;
}
.specific-tasks-main-btns {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/************** GYM *****************/

.specific-gym {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.specific-gym-days {
    width: 400px;
    height: 200px;
    border: solid 1px #cacaca;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}
.specific-gym-days-title {
    display: flex;
    background-color: var(--dark);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding-left: 5%;
    padding-right: 5%;
}
.specific-gym-days-title-btn {
    background-color: #0080ff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    border: 0;
}
.specific-gym-days-title-btn:hover {
    border: solid #48a4ff 2px;
}
.specific-gym-days-title-btn img{
    height: 100%;
}
.specific-gym-exercises-division {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #676767;
    padding: 23px;
    max-width: auto;
    border-bottom: #cacaca 1px solid;
    margin: 10px;
}
.specific-gym-exercises-title{
    font-size: large;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.specific-gym-exercises {
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.specific-gym-btn {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/************** ABOUT *****************/
.about {  
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 800px;
    width: 100%;
    min-width: 400px;
    
}
.about-content {
    background-color: var(--dark);
    width: 90%;
    height: 90%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    overflow-y: auto;
    padding: 60px;
    
}
.about-content p {
    line-height: 1.7;
}
/************** OVERLAYS *****************/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.overlay-container {
    display: flex;
    background-color: white;
    height: 80%;
    width:50%;
    min-width: 480px;
    border-radius: 15px;
    flex-direction: column;
}
.close-overlay {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 40px;
}
.close-overlay-btn {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 40px;
    width: 40px;
    border: solid 1px;
}
.close-overlay-btn:hover{
    background-color: rgb(199, 61, 61);
    color: white;
}

.overlay-container-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92%;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    
}
.overlay-container-content-save {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;
    
}
.overlay-container-content-save button {
    width: 60px;
    height: 30px;
    margin: 15px;
    margin-top: 10px;
    background-color: #48a4ff;
    color: white;
    border: 0;
    border-radius: 10px;
}
.overlay-container-content-save button:hover {
    border:solid #2972bb 2px;

}

/**TASKS**/

#add-task-btn{
    display: none;
}

/**GYM**/

#edit-workout-monday {
    display: none;
}

#edit-workout-tuesday {
    display: none;
}

#edit-workout-wednessday {
    display: none;
}

#edit-workout-thursday {
    display: none;
}

#edit-workout-friday {
    display: none;
}

#edit-workout-saturday {
    display: none;
}

#edit-workout-sunday {
    display: none;
}

.overlay-container-content-gym-add {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 0;

}
.overlay-container-content-gym-add:hover {
    border: solid #008e1a;
}
.overlay-container-content-gym-add img{
    height: 100%;
}

.overlay-container-content-gym-exercises {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.overlay-container-content-gym-form {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 200px;
    height: 400px;
    margin: 20px;
    width: 80%;
    border: solid #cacaca 1px;
    overflow-y: auto;
    padding: 10px;
}

.overlay-container-content-gym-exercises button {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 0;
    margin-left: 10px;
}
.overlay-container-content-gym-exercises button:hover {
    border: solid #6a6a6a 1px;
}

.gym-sets {
    border-radius: 5px;
    border: solid #b2b2b2 1px;
    width: 50px;
    height: 30px;
    margin-right: 5px;
    padding-left: 5px;
}
.gym-reps {
    border-radius: 5px;
    border: solid #b2b2b2 1px;
    width: 50px;
    height: 30px;
    margin-left: 5px;
    padding-left: 5px;
}
.gym-exercise {
    border-radius: 5px;
    border: solid #b2b2b2 1px;
    width: 200px;
    height: 30px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#overlay-gym-general-forms {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
}
.overlay-container-content-gym-form-title {
    border-radius: 5px;
    border: solid #8d8d8d 2px;
    width: 150px;
    height: 30px;
    margin-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}
.close-gym-form {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.close-gym-form button{
    height: 30px;
    width: 30px;
    border:1px solid #000000;
    margin-left: 10px;
}
.close-gym-form button:hover{
    background-color: rgb(199, 61, 61);
    color: white;
}

@media (max-width:1200px){
    main{
        flex-direction:column;
        align-items: center;
    }

    .menu{
        width:90%;
        
    }

    .cards{
        justify-content:center;
    }

    .card{
        width:90%;
        height:auto;
    }
    .specific-finance-top-values,.card-title p,h4{
        font-size: smaller;
    }
    .specific-tasks-future {
        gap: 20px;
        align-items: center;
    }
    .specific-tasks-future-card {
        width: 400px;
        height: 250px;
    }
    .specific-tasks-main {
        flex-direction: column-reverse;
        align-items: center;
    }
    .specific-tasks-main-today {
        width: 80%;
    }
    .specific-tasks-main-btns {
        flex-direction: row;
        width: 80%;
    }
    .credit-cards {
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        height: 100px;
        width: 100%;
    }
    .self-card {
        flex-shrink: 0;
        width: 200px;
        align-items: center;
        justify-content: center;
    }
    .finance-credit-content {
        flex-direction: column;
        width: 100%;
        height: 800px;
    }
    
    #navegation {
        display: none;
    }
    #openNavegation {
        display: flex;
        justify-content: center;
        width: 10%;
        background-color: var(--dark);
        color: #fff;
        border: solid #1d1e25 1px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #openNavegation img {
        height: 20px;
    }
    #openNavegation:hover {
        background-color: #1d1e25;
    }
    .content-box {
        margin-top: 1rem;
    }
    .specific-finance-main {
        flex-direction: column-reverse;
    }
    .specific-finance-main-right {
        flex-direction: row;
        width: auto;
        padding-top: 2rem;
    }
    .specific-finance-main-left {
        width: 100%;
    }
    .credit-cards-main-content {
        border-left: solid 1px #cacaca;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
    }
    .overlay-container-content-gym-form {

    width: 95%;

    }   
}



@media (max-width: 768px) {

    body {
        align-items: stretch;
        min-width: 450px
    }

    header,
    main {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
    }

    main {
        flex-direction: column;
    }

    .menu {
        width: 100%;
        min-width: unset;
    }

    .cards {
        justify-content: center;
    }

    .card {
        width: 100%;
        height: auto;
    }

    footer {
        width: 100%;
        justify-content: center;
    }


}