@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@500&display=swap');

:root{
    --bg:#fff9ed;
    --dark:#282935;
    --light:#ffffff;
    --text:#151515;
    --accent:#6b6a88;
    --shadow:0 6px 16px rgba(0,0,0,.25);
}

/* RESET */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

img{
    max-width:100%;
    height:auto;
    display:block;
}

/* BODY */
body{
    font-family:Montserrat, sans-serif;
    background:var(--bg);
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* HEADER */
header{
    width:90%;
    margin:1rem;
    padding:1rem;
    background:var(--dark);
    border-radius:15px;
    box-shadow:var(--shadow);
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:.5rem;
    color:var(--light);
    text-decoration:none;
}

.logo img{
    height:40px;
    width:auto;
    filter:brightness(0) invert(1);
}

.icons{
    display:flex;
    gap:1rem;
}

.icons img{
    height:22px;
    min-width:22px;
    filter:brightness(0) invert(1);
}

/* MAIN */
main{
    width:90%;
    display:flex;
    flex: 1;
    gap:1rem;
}

/* MENU */
.menu{
    min-width:200px;
    padding:1rem;
    background:var(--dark);
    border-radius:15px;
    box-shadow:var(--shadow);
    color:var(--light);
    margin-bottom: 3vh;
}

.user{
    display:flex;
    align-items:center;
    gap:.5rem;
    background:#1d1e25;
    padding:.6rem;
    border-radius:10px;
    margin-bottom:1rem;
    text-decoration:none;
    color:var(--accent);
}

.user img{
    height:32px;
    width:32px;
    border-radius: 50px;
}

nav{
    display:flex;
    flex-direction:column;
    gap:.5rem;
}

nav a{
    display:flex;
    align-items:center;
    gap:.5rem;
    padding:.5rem;
    color:var(--light);
    text-decoration:none;
    border-radius:10px;
    transition:.2s;
}

nav img{
    height:20px;
    width:auto;
    filter:brightness(0) invert(1);
}

nav a:hover,
nav a.active{
    border:1px solid var(--accent);
}

/* CARDS */
.cards{
    flex:1;
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    justify-content:center;
}

.card{
    width:360px;
    height:300px;
    background:#ffffff;
    border-radius:20px;
    padding:2rem;
    box-shadow:var(--shadow);
    text-decoration:none;
    display:flex;
    flex-direction:column;
    gap:.6rem;
    align-items: start;
}
.card small{
    margin-top: 2rem;
}
.card header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:var(--light);
}

.card header img{
    height:28px;
    width:auto;
}

.card h4{
    color:#8DD3BE;
}

.scroll{
    overflow-y:auto;
    max-height:140px;
}

/* IMAGENS DENTRO DOS CARDS */
.card img{
    max-width:100%;
    max-height:160px;
    object-fit:contain;
}

/* LINHA DE PROGRESSO */
.card img{
    height:18px;
    width:auto;
}

/* GRÁFICOS */
.graph img{
    height:180px;
    width:100%;
    object-fit:contain;
}

/* FOOTER */
footer{
    width:100%;
    background:var(--dark);
    display:flex;
    justify-content:flex-end;
    padding:1rem;
    gap:.8rem;
}

footer img{
    height:26px;
    width:auto;
    filter:brightness(0) invert(1);
}


/************** FINANCE *****************/

.finance {
    width:1400px;
    height:750px;
    background:#ffffff;
    border-radius:20px;
    padding:2rem;
    padding-top: 0%;
    padding-left: 0%;
    box-shadow:var(--shadow);
    text-decoration:none;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:.6rem;
    align-items: start;
}
.finance header{
    display:flex;
    flex-direction: column-reverse;
    justify-content:space-between;
    align-items:center;
    color:var(--dark);
    width: 5rem;
    height: 4rem;
    border-radius: 50px;
    font-size: x-small;
    box-shadow: none;
    background-color: transparent;
}

.finance header img{
    height:28px;
    width:auto;
}



/* RESPONSIVO */
@media (max-width:900px){
    main{
        flex-direction:column;
        align-items: center;
    }

    .menu{
        width:90%;
    }

    .cards{
        justify-content:center;
    }

    .card{
        width:90%;
        height:auto;
    }
}

@media (max-width: 450px) {

    /* trava o layout */
    body{
        min-width:450px;

    }

    main{
        min-width:450px;
    }

    header,
    footer{
        min-width:430px;
    }


    .card header{
        margin-left: 0%;
        min-width: 100px;
    }

    /* imagens não escalam mais, apenas cortam */
    img{
        max-width:none;
    }

    .graph img{
        width:450px;
        height:180px;
        object-fit:cover;
    }
}


