@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-fundo: #fdfdfd;
    --cor-icones: brightness(0) invert(1);
    --cor-letras-claras: #ffffff;
    --cor-letras-escuras: #151515;
    --cor-marcacao:#32333f;
    --cor-secundaria: #6b6a88;
   
    --fonte-titulo: 'Inter', sans-serif;
    --fonte-corpo: 'Montserrat', sans-serif;
    --fonte-titulo-tamanho: clamp(0.8rem, 2vw, 1.6rem);
    --fonte-corpo-tamanho: clamp(1rem, 1.3vw, 1.4rem);
    --fonte-corpo-tamanho-hover: clamp(1.3rem, 1.4vw, 1.5rem);

    --altura-icones-grandes: clamp(2.8rem, 5vw, 4rem);
    --altura-icones-pequenos: clamp(1.2rem, 3vw, 2rem);
    --altura-icones-medios: clamp(2rem, 3.5vw, 3rem);
   


    --sombra-encima:0 -6px 16px rgba(0, 0, 0, 0.25);
    --sombra-embaixo:0 6px 16px rgba(0, 0, 0, 0.25);
    --sombra-texto:0 6px 10px rgba(0,0,0,0.3);

}





body {
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    background-color: var(--cor-fundo);
    min-height: 100vh;
}





header {
    display: flex;
    background-color: var(--cor-marcacao);
    justify-content: center;
    flex-direction: column;
    min-height: 64px;
    padding: 1rem 0;
    margin: 1vh;
    box-shadow: var(--sombra-embaixo);
    width: 90%;
    border-radius: 15px;
}
.header-items {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    width: 96%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 2vh;
}
.header-items-logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1vh;
    font-family: var(--fonte-titulo);
    color: var(--cor-letras-claras);
    font-size: var(--fonte-titulo-tamanho);
}
.header-items-logo img{
    height: var(--altura-icones-grandes);
    filter: var(--cor-icones);
}

.header-items-options {
    display: flex;
    gap: 2vh;

}
.header-items-options a{
    font-family: var(--fonte-titulo);
    color: rgb(255, 255, 255);
    text-decoration: none;

}
.header-items-options img{
    height: var(--altura-icones-pequenos);
    filter: var(--cor-icones);
}






footer {
    display: flex;
    justify-content: end;
    background-color: var(--cor-marcacao);
    width: 100%;
    min-height: 7vh;
    align-items: center;
    box-shadow: var(--sombra);
}
.footer-items {
    display: flex;
    gap: 1vh;
    margin-right: 3vh;
}
img.footer-icon {
    height: var(--altura-icones-medios);
    filter: var(--cor-icones);
}





main {
    display: flex;
    align-items: center;
    flex: 1;
    width: 90%;
}





.pages {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 15vh;
    font-family: var(--fonte-corpo) ;
    background-color: var(--cor-marcacao);
    height: 35vh;
    align-items: start;
    box-shadow: var(--sombra-embaixo);
    border-radius: 15px;
    padding-bottom: 10vh;
    padding-top: 5vh;
    font-size: var(--fonte-corpo-tamanho);
    padding-right: 4vh;
    min-height: 40vh;
}
.pages-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: transparent;
    height: 35vh;
    align-items: start;
    padding-top: 5vh;
}
.pages-nav img{
    height: var(--altura-icones-pequenos);
    filter: var(--cor-icones);
}
.pages-nav a{
    margin-left: 4vh;
    display: flex;
    align-items: center;
    gap: 1vh;
    color: var(--cor-letras-claras);
    text-decoration: none;
    text-shadow: var(--sombra);
    justify-content: center;

}
.pages-nav a:hover{
    color: #ffffff;
    border-left: solid #ffffff 1.5px;
    padding-left: 8px;
}
.active{
    color: #ffffff;
    padding-left: 8px;
    border: solid var(--cor-secundaria) 1px;
    width: 20vh;
    border-radius: 15px;
    padding-right: 1vh;
}
.pages-user{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color:#1d1e25;
    width: 22vh;
    margin-left: 4vh;
    border-radius: 15px;
    height: 8vh;
    gap: 1vh;
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-corpo-tamanho);
    color: var(--cor-secundaria);
    text-decoration: none;
    border: solid var(--cor-secundaria) 1px;
}
.pages-user img{
    margin-left: 1vh;
    height: var(--altura-icones-grandes);
    border-radius: 100px;
}



.conteudo{
    width: 80%;
    margin-left: 4 wvh;
   
}
.conteudo-cima {
    display: flex;
    justify-content: center;
    gap: 3vh;
    align-items: center;
    height: 30vh;
    width: 100%;

}
.conteudo-cima a{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 30vh ;
    width: 40vh;
    background-color: #ffffff;
    box-shadow: var(--sombra-embaixo);
    border-radius: 20px;
    font-family: var(--fonte-titulo);
    color: var(--cor-letras-escuras);
    text-decoration: none;
}
.conteudo-baixo {
    display: flex;
    justify-content: center;
    gap: 5vh;
    align-items: center;
    height: 40vh;
    width: 100%;
}
.conteudo-baixo a{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 35vh ;
    width: 55vh;
    background-color: #ffffff;
    box-shadow: var(--sombra-embaixo);
    border-radius: 20px;
    font-family: var(--fonte-titulo);
    color: var(--cor-letras-escuras);
    text-decoration: none;
}

.titulo-dashboard {
    display: flex;
    width: 24vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vh;
    margin-top: 1vh;
}
.titulo-dashboard img{
    height: var(--altura-icones-medios);
}

